.App{
  text-align: center;
}

.box{
  max-width: 200px;
  margin:auto;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
  padding:10px;
}

p{
  font-size: 10px;
  text-align: center; 
}

button{
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  color: #FFFFFF;
}

button.add{
  background-color: #18978F;
}
button.sub{
  background-color: #e84747;
}