@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

button{
    padding: 5px 10px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    background-color: darkslateblue;
    color: #FFFFFF;
  }